Repository cclib/cclib-data, pull requests merged in 2018-11, with the labels that each got.

#97 GAMESS: add EOM-CCSD output with different etenergies format than CIS (exam45 in runall test suite)
  GAMESS/GAMESS-US2018/exam45.log
  regressionfiles.txt
Labels: GAMESS, regression

#98 ORCA: output that has malformed input section
  ORCA/ORCA4.0/650.out
  regressionfiles.txt
Labels: ORCA, regression

#100 Rename m1b1 NIST logfile with more context in filename
  Gaussian/Gaussian03/NIST_CCCBDB_1himidaz_m1b1.out
  regressionfiles.txt
Labels: Gaussian, maintenance

#99 Add Gaussian98 G3 job from NIST CCCBDB suite
  Gaussian/Gaussian98/NIST_CCCBDB_1himidaz_m21b0.out
  regressionfiles.txt
Labels: Gaussian, regression

#101 Add killed Gaussian job from NIST CCCBDB
  Gaussian/Gaussian98/NIST_CCCBDB_1himidaz_m23b6.out
  regressionfiles.txt
Labels: Gaussian, regression
