Repository cclib/cclib-data, pull requests merged in 2020-09, with the labels that each got.

#135 Adding outputfile from bug937
  GAMESS/WinGAMESS/H2O_def2SVPD_triplet_2019.06.30.R1.out
  regressionfiles.txt
Labels: GAMESS, bug

#136 ORCA: constrained geom opt has an extra line before gradients
  ORCA/ORCA4.2/947.out
  regressionfiles.txt
Labels: ORCA, regression

#137 Adding Si output for Qchem MO parser test
  QChem/QChem5.0/Si.out
  regressionfiles.txt
Labels: QChem, regression
