Repository cclib/cclib-data, pull requests merged in 2024-02, with the labels that each got.

#184 remove now-unused regressionfiles.txt
  .pre-commit-config.yaml
  regressionfiles.txt
  regressionfiles.yaml
Labels: maintenance

#186 Regression for 1369
  ORCA/ORCA4.2/a_DLPNO.txt
  regressionfiles.yaml
Labels: regression, ORCA

#178 Gaussian: MP2 frequencies
  Gaussian/Gaussian16/mp2_avdz_freq_tight.log
  regressionfiles.yaml
Labels: regression, Gaussian
