Repository cclib/cclib-data, pull requests merged in 2024-10, with the labels that each got.

#191 Regression files for some optimised excited states calcs
  Gaussian/Gaussian16/Pyridine_opt-eomccsd.log
  ORCA/ORCA5.0/Benzene_opt_etsyms.log
  regressionfiles.yaml
Labels: regression, Gaussian, ORCA

#193 Gaussian09/OPT_td.out is actually Gaussian 03
  Gaussian/Gaussian03/OPT_td.out
  regressionfiles.yaml
Labels: maintenance, Gaussian

#196 xTB: add file from https://github.com/cclib/cclib/issues/1448
  XTB/basicXTB6.5.1/1448.out
  regressionfiles.yaml
Labels: bug, xTB

#198 NWChem: v6.0 with fixed-width mass-weighted Hessian
  NWChem/NWChem6.0/dvb_ir_hf.out
  regressionfiles.yaml
Labels: regression, NWChem

#195 Jaguar: vibrational output with 6 (or fewer) modes
  Jaguar/Jaguar7.8/911.out
  regressionfiles.yaml
Labels: regression, Jaguar
